/* MarkdownInput & MarkdownResult 공용*/
.editor-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.editor-vline {
  border-right: 2px dotted lightgray;
}
.mp-zero {
  margin: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .editor-body {
    padding: 15px;
  }
}

.editor-title {
  font-size: 30px;
  font-weight: 700;
}

.editor-input,
.editor-select {
  border-radius: 0;
}

.editor-textarea {
  /* border: none; */
  outline: none;
  resize: none;
  border-radius: 0;
}
.form-select.is-invalid {
  padding-right: 0rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e");
}

.title-style {
  color: white;
  background-color: rgb(144, 161, 179);
  font-size: 26px;
  font-weight: 700;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.list-group a {
  color: darkgreen;
  text-indent: -1.5em;
  padding-left: 2.2em;
}
.list-group a:hover {
  color: rgb(61, 126, 61);
  text-decoration: none;
}

.list-group .title {
  background-color: rgb(122, 172, 122);
  border-color: rgb(122, 172, 122);
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 20px;
}

.list-group .active {
  background-color: whitesmoke;
  color: darkgreen;
  border-color: lightgray;
  font-weight: 700;
}

.navbar-mp {
  padding: 5px;
  background-color: lightgray;
}
.navbar-mp .navbar-brand {
  font-size: 28px;

  padding-bottom: 0;
}
