/* MarkdownInput & MarkdownResult 공용*/
.editor-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.editor-vline {
  border-right: 2px dotted lightgray;
}
.mp-zero {
  margin: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .editor-body {
    padding: 15px;
  }
}

.editor-title {
  font-size: 30px;
  font-weight: 700;
}

.editor-textarea {
  /* border: none; */
  outline: none;
  resize: none;
}

.title-style {
  color: white;
  background-color: rgb(144, 161, 179);
  font-size: 26px;
  font-weight: 700;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.list-group a {
  color: darkgreen;
}
.list-group a:hover {
  color: rgb(61, 126, 61);
  text-decoration: none;
}

.list-group .title {
  background-color: rgb(122, 172, 122);
  border-color: rgb(122, 172, 122);
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 20px;
}

.list-group .active {
  background-color: whitesmoke;
  color: darkgreen;
  border-color: lightgray;
  font-weight: 700;
}
