body {
  overflow-y: scroll;
}
.height70 {
  min-height: 70vh;
}
/* card shadow in login page */
.back-shadow {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.08);
}

h1 {
  font-size: 200%;
  font-weight: bolder;
}
a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: dodgerblue;
  text-decoration: none;
}

/* Button color: steelblue */
.btn-steelblue {
  color: white;
  background-color: steelblue;
  border-color: steelblue;
}
.btn-steelblue:hover,
.btn-steelblue:focus,
.btn-steelblue:active,
.btn-steelblue.active,
.open .dropdown-toggle.btn-steelblue {
  color: white;
  background-color: rgb(86, 142, 189);
  border-color: rgb(86, 142, 189);
}

/* Button color: slategray */
.btn-slategray {
  color: white;
  background-color: slategrey;
  border-color: slategrey;
}
.btn-slategray:hover,
.btn-slategray:focus,
.btn-slategray:active,
.btn-slategray.active,
.open .dropdown-toggle.btn-slategray {
  color: white;
  background-color: rgb(128, 144, 160);
  border-color: rgb(128, 144, 160);
}

/* Button color: seagreen */
.btn-seagreen {
  color: white;
  background-color: seagreen;
  border-color: seagreen;
}
.btn-seagreen:hover,
.btn-seagreen:focus,
.btn-seagreen:active,
.btn-seagreen.active,
.open .dropdown-toggle.btn-seagreen {
  color: white;
  background-color: rgb(63, 158, 104);
  border-color: rgb(63, 158, 104);
}

/* Button color: cadetblue */
.btn-cadetblue {
  color: white;
  background-color: cadetblue;
  border-color: cadetblue;
}
.btn-cadetblue:hover,
.btn-cadetblue:focus,
.btn-cadetblue:active,
.btn-cadetblue.active,
.open .dropdown-toggle.btn-cadetblue {
  color: white;
  background-color: rgb(114, 173, 175);
  border-color: rgb(114, 173, 175);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-left {
  text-align: left;
}
.text-warning {
  color: darkred;
}

/* navbar */
.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.navbar-dark {
  background-color: #0f5984;
}
.navbar-dark .navbar-brand:not(.nohover):link {
  color: #ffffff;
}
/* change the link color */
.navbar-dark .nav-link:not(.nohover):link {
  color: #ffffff;
}
.navbar-dark .nav-link:not(.nohover):hover {
  color: #ffc107;
}
/* add a shadow */
.navbar-dark {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  /* the rest of your styling */
}

.navbar-collapse {
  transition: all 0.2s ease-in-out;
}

/* 화면크기에 따라 각 메뉴의 밑줄 설정 및 드롭다운 메뉴 설정 */
/* ★ 작은 화면 ★ */
@media only screen and (max-width: 768px) {
  .navbar-dark .navbar-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 0px 8px 24px; /* 각 항목의 위 아래 왼쪽 마진 조절 */
    text-decoration: none;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    transition: all 0.2s ease-in-out;
  }
  .navbar-dark .navbar-nav .nav-link.active {
    color: #ffc107;
  }
}
/* ★ 큰 화면 ★ */
@media only screen and (min-width: 768px) {
  .navbar-dark .navbar-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 4px solid transparent;
    transition: all 0.15s ease-in-out;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 4px solid #ffc107;
    transition: all 0.15s ease-in-out;
  }
  .navbar-dark .navbar-nav .nav-link.active {
    border-bottom: 4px solid #ffc107;
    color: #ffc107;
  }
}
